@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background: #222;
    max-width: 1600px;
    margin: 0 auto;
}

.top_container {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    display: flex;
    width: 111px;
    height: 38px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 19px;
    gap: 41px; 
}

.a_lupa {
    background: #222;
    width: 26px;
    height: 27px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.hidden_menu {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 29px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;
    gap: 25px;
}

.menu-active {
    position: absolute;
    right: 0;
    top: 75px;
    width: 100%;
    height: 602px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    padding-left: 33px;
}

.menu-active_all {
    width: 200px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 0 0px 24px;
    padding-top: 32px;
    padding-left: 32px;
    position: relative;
    max-height: inherit;
    overflow: auto;
    list-style: none;
}

.menu-active_all h2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.menu-active_all h3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    padding-top: 20px;
}

.menu__item {
    display: block;
    padding-left: 20px;
    padding-top: 12px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    transition-duration: 0.25s;
}

.menu-close {
    cursor: pointer;
    position: absolute;
    border: none;
    background: white;
    right: 15px;
    top: 15px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
}

.menu-close:hover {
opacity: 1;
}

.menu-close:before {
transform: rotate(45deg);
}

.menu-close:after {
transform: rotate(-45deg);
}

.btn1_heder {
    background: #222;
    width: 32px;
    height: 23px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}


.btn2_heder {
    background: #222;
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.btn3_heder {
    background: #222;
    width: 32px;
    height: 29px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.s {
    width: 19px;
    height: 19px;
    position: absolute;
    border-radius: 50%;
    background: #F16D7F;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.s span {
    font-size: 12px;
    color: #FFFFFF;
}

.poster {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 65px;

}

.bred_img {
    width: 50%;
}

.brend {
    display: flex;
    width: 377px;
    height: 93px;
    flex-shrink: 0;
    margin: auto 0 auto 64px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    flex-direction: column;
    color: #222222;
}

.brend h1 {
    font-size: 48px;
    font-weight: 900;
}

.brend h2 {
    font-size: 32px;
    font-weight: 700;
}

.text_brend {
    color: #f16d7f;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(33, 22, 22, 0.70);
    width: 100%;
    height: 100%;
}

.card h4 {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.card h3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}

.card1 {
    background-size: cover;
    background-image: url(img/card1.jpg);
    height: 260px;
    flex-shrink: 0;
}

.card2 {
    background-size: cover;
    background-image: url(img/card2.jpg);
    height: 260px;
    flex-shrink: 0;
}

.card3 {
    background-size: cover;
    background-image: url(img/card3.jpg);
    height: 260px;
    flex-shrink: 0;
}

.card4 {
    background-size: cover;
    background-image: url(img/card4.jpg);
    height: 180px;
    flex-shrink: 0;
    grid-column: span 3;
}

.shop_text {
    font-family: Lato;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 48px;
    gap: 6px;
}

.shop_text h2 {
    color: #222;
    font-size: 30px;
    font-weight: 400;
}

.shop_text p {
    color: #9F9F9F;
    font-size: 14px;
}

.cards_shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;
}

.cards_shop-img {
    position: relative;
}

.cards_shop-img::before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;right:0;
    background-color:rgba(0,0,0,0);    
}

.cards_shop-img:hover::before {
    background: rgba(58, 56, 56, 0.86);
}

.cards_shop-img img {
    display: block;
}

.cards_shop-img .btn_shops {
    width: 138px;
    height: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    background: none;
    border: 1px solid #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.cards_shop-img:hover button {   
    opacity: 1;
}

.cards_shop_text {
    background: #F8F8F8;
    font-family: Lato;
    padding: 24px 16px;
}

.cards_shop_text h4 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 13px;
}

.cards_shop_text p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    padding-right: 13px;
    margin-bottom: 18px;
}

.cards_shop_text h5 {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.btm_shop {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

.btn_shop1 {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    flex-shrink: 0;
    color: #F16D7F;
    background: #FFF;
    border: 1px solid #FF6A6A;
    cursor: pointer;
    width: 212px;
    height: 48px;
}

.btn_shop1:hover {
    background: #F16D7F;
    color: #FFF;
}

.main__bottom {
    margin: 0 auto;
    align-items: center;
}

.main__bottom__info {
    max-width: 1600px;
    max-height: 341px;
    margin: auto;
    background: #222224;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;    
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;
}

.main__bottom__info__card {
    max-width: 360px;
    max-height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__bottom__info__card h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
}

.main__bottom__info__card p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.main__bottom__subscribe {
    height: 448px;
    background-image: url(./img/font.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.main__bottom__blur {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 223px;
}

.main__bottom__subscribe__info {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__bottom__subscribe__info p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.main__bottom__subsc_subsc {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__bottom__subsc_subsc__text {
    text-align: center;
}

.main__bottom__subsc_subsc__text h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.main__bottom__subsc_subsc__text p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.main__bottom__subsc__form__btn form {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}
.main__bottom__subsc__form__btn input{
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	position: relative;
    z-index: 1;
	overflow: hidden;
    padding-left: 22px;
    border: none;
}

.main__bottom__subsc__form__btn button{
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor:pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: middle;	
    padding-left: 15px;
    border: none;
}

.footer__navbar {
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    background: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__navbar p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-left: 235px;
}

.footer__navbar__icons {
    width: 148px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-right: 230px;
    margin-bottom: 23px;
}
.footer__navbar__icons a {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.fa {
    width: 31px;
    height: 32px;
    background: #FFFFFF;
    color: #000000;
}

.fa:hover {
    background: #F16D7F;
    color: #FFFFFF;
}

@media (max-width:1024px) and (min-width:768px) {

    .navigation {
        max-width: 768px;
    }

    .top_container {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);    
    }
    
    .logo {
        margin-top: 18px;
        margin-bottom: 18px;
        margin-left: 32px;
    }

    .menu {
        margin-right: 32px;
    }

    .container {
        max-width: 736px;
    }


    .poster {
        max-width: 768px;
    }

    .brend {
        width: 311px;
        height: 92px;
    }

    .brend h1 {
        font-size: 44px;
    }

    .brend h2 {
        font-size: 24px;
    }

    .cards {
        gap: 19px;
        margin-bottom: 59px;
    }

    .card1 {
        height: 167px;
    } 

    .card2 {
        height: 167px;
    }

    .card3 {
        height: 167px;
    }

    .card4 {
        height: 116px;
    }

    .shop_text {
        margin-bottom: 74px;
    }

    .cards_shop {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 33px;
    }

    .btm_shop {
        margin-bottom: 71px;
    }

    .main__bottom__info {
        max-width: 768px;
        max-height: 450px;
        margin-top: 65px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 48px;
        padding-top: 48px;

    }

    .main__bottom__info__card {
        margin: 0 auto;
        margin-bottom: 0;
    }

    .main__bottom__info__card img {
        margin-bottom: 28px;
    }

    .main__bottom__info__card h2 {
        margin-bottom: 16px;
    }

    .main__bottom__subscribe {
        height: 693px;
        width: 768px;
        margin: 0 auto;
        background-size: cover;
    }

    .main__bottom__blur {
        height: 693px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .footer__navbar {
        width: 768px;
    }

    .footer__navbar p {
        margin-left: 32px;
    }
    
    .footer__navbar__icons {
        margin-right: 23px;
    }
}

@media (max-width:767px)  and (min-width:320px){

    header {
        max-width: 375px;
    }

    .navigation {
        max-width: 375px;
    }

    .top_container {
        max-width: 375px;
        margin: 0;
    }

    .logo {
        margin-left: 16px;
    }

    .menu {
        width: 32px;
        height: 23px;
        margin-bottom: 26px;
        justify-content: space-between;
        margin-right: 16px;
    }

    .hidden {
        display: none;
    }

    .poster {
        max-width: 375px;
        color: #F1E4E6;
        margin-bottom: 64px;
    }

    .brend {
        justify-content: center;
        max-width: 263px;
        height: 66px;
        margin: 0;
        padding-left: 15px;
        margin: 148px auto 149px;
    }

    .brend h1 {
        font-size: 38px;
    }

    .brend h2 {
        font-size: 20px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        width: 343px;
        height: 247px;
    }

        .card2 {
        width: 343px;
        height: 247px;
    }

    .card3 {
        width: 343px;
        height: 247px;
        
    }

    .card4 {
        background-size: cover;
        background-position: center;
        width: 343px;
        height: 111px;
    }

    .shop_text {
        gap: 3px;
    }

    .cards_shop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 40px;
        padding: 0 8px;
    }

    .cards_shop_text {
        max-width: 314px;
        max-height: 116px;
    }

   .btm_shop {
        margin-bottom: 85px;
   }

    .main__bottom__info {

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 375px;
        max-height: 610px;
        gap: 46px;

        padding: 48px 13px 81px 14px;
    }

    .main__bottom__info__card {
        max-width: 360px;
        max-height: 610px;
    }

    .main__bottom__info__card img {
        margin-bottom: 27px;
    }

    .main__bottom__info__card h2 {
        margin-bottom: 14px;
    }

    .main__bottom__subscribe {
        height: 550px;
        width: 375px;
    }

    .main__bottom__blur {
        height: 693px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }

    .main__bottom__subscribe__info {
        width: 343px;
        height: 194px;
        justify-content: space-between;
    }

    .main__bottom__subscribe__info p {
        height: 73px;
        font-size: 18px;
    }

    .main__bottom__subsc_subsc {
        width: 341px;
        height: 123px;
    }

    .main__bottom__subsc_subsc__text {
        text-align: center;
    }

    .main__bottom__subsc_subsc__text h2 {
        line-height: 36px;
    }

    .main__bottom__subsc_subsc__text p {
        font-size: 14px;
        line-height: 21.45px;
    }

    .main__bottom__subsc__form__btn form {
        width: 341px;
        height: 47px;
    }

    .main__bottom__subsc__form__btn input {
        width: 245px;
    }

    .main__bottom__subsc__form__btn button{
        width: 95.7px;
        height: 47px;
    }

    .footer__navbar {
        width: 375px;
        height: 143px;
        flex-direction: column-reverse;
    }

    .footer__navbar p {
        margin-left: 0px;
        margin-bottom: 9px;
    }

    .footer__navbar__icons {
        margin-right: 0px;
        margin-top: 43px;
    }
}


